<h2 class="text-center">Sign up</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="margin-left: 55vh">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
  </div><br><br>

  <div class="field" style="margin-left: 55vh">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
  </div><br><br>

  <div class="field" style="margin-left: 55vh">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
  </div><br><br>

  <div class="actions d-flex flex-row" style="margin-left: 55vh">
    <%= f.submit "Sign up" %>
    <%= render "devise/shared/links"%>
  </div>
<% end %>
 